# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Outputs (optional - usually you DON'T want to commit generated big outputs)
out/
